<% content_for(:title, 'ブックマークセット一覧') %>
<% content_for(:body_class, 'list') %>
<% content_for(:body_id, 'index') %>

<h1>ブックマークセット</h1>

<% if @lists.any? %>
  <% @lists.each do |list| %>
    <h2><%= list.name %></h2>
    <% if list.stars.any? %>
      <%= render 'stars/stars', stars: list.stars %>
    <% else %>
      <p>まだブックマークがセットに追加されていません。</p>
    <% end %>
  <% end %>
<% else %>
  <p>まだブックマークセットはありません。</p>
<% end %>