<% content_for(:title, 'ブックマークセット作成') %>
<% content_for(:body_class, 'list') %>
<% content_for(:body_id, 'new') %>

<h1 class="text-center">ブッックマークセット作成</h1>

<div class="row justify-content-center">
  <div class="col-12 col-md-6">

    <%= render 'form' %>
    
  </div>
</div>