<div class="nested-fields d-flex">

  <div class="form-group w-100">
    <%= f.collection_select :list_id, current_user.lists, :id, :name, { prompt: "未選択" }, { class: 'form-control' } %>
  </div>
  
  <%= link_to_remove_association content_tag(:i, '', class: 'fa fa-times'), f, class: 'btn btn-default' %>

</div>