<% content_for(:title, 'ユーザー一覧') %>
<% content_for(:body_class, 'user') %>
<% content_for(:body_id, 'index') %>

<h1>ユーザー一覧</h1>

<% if @users.any? %>
  <ul>
    <% @users.each do |user| %>
      <li><%= user.id %> | <%= user.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>まだユーザーはいません。</p>
<% end %>