/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require jquery-ui/datepicker
 *= require_self
 */
 
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import 'bootstrap';
@import 'font-awesome';

ul, menu, dir {
  display: block;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

.hover:hover{
  opacity: .7;
}





#container{
  margin-top: 70px;
}


main{
  h1{
    font-size: 24px;
    margin-bottom: 40px;
  }
  h2{
    font-size: 20px;
    margin-bottom: 24px;
  }
}


/* header */
.navbar{
  .navbar-nav{
    .nav-item{
      align-items: center;
      display: flex;
    }
    .current-user-icon{
      .thumb{
        width: 40px;
      }
    }
    .dropdown-menu{
      h2{
        padding: 0.25rem 1.5rem 0.8rem;
        font-size: 16px;
        border-bottom: 1px solid #eee;
      }
    }
  }
}

.mark_archive_list{
  li{
    width: 232px;
    list-style: none;
    position: relative;
    .url_link{
      position: relative;
      display: block;
      .thumb{
        width: 100%;
        display: block;
        border-radius: 4px;
        box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, .1);
      }
      .favicon{
        background: #fff;
        padding: 8px;
        border-radius: 100%;
        position: absolute;
        left: -4px;
        bottom: -4px;
        box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .1);
      }
    }
    
    .title{
      color: #333;
      font-size: 16px;
    }
    .url{
      color: #ccc;
      font-size: 12px;
    }
  }/* li */
}


.add_star{
  color: #dfdfdf;
}

.remove_star{
  color: #f6a12e;
}

.star_btn{
  border: 0;
  transition: .3s;
  padding: 0;
  background: #fff;
  width: 32px;
  height: 32px;
  text-align: center;
  border-radius: 100%;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .1);
  position: absolute;
  left: 36px;
  top: 146px;
  font-size: 16px;
  line-height: 1;
}

.star_btn:hover{
  font-size: 21px;
  transition: .3s;
}


.main_col{
  width: calc(100% - 340px);
}

aside{
  width: 300px;
}