/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require jquery-ui/datepicker
 *= require_self
 */
 
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import 'bootstrap';
@import 'font-awesome';

ul, menu, dir {
  display: block;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

.hover:hover{
  opacity: .7;
}

button:focus{
  outline: 0;
}




#container{
  margin-top: 70px;
}

.main_col{
  width: calc(100% - 340px);
  @include media-breakpoint-down(sm) {
    width: 100%;
  }
}

aside{
  width: 300px;
  @include media-breakpoint-down(sm) {
    width: 100%;
  }
}



main{
  h1{
    font-size: 20px;
    margin-bottom: 24px;
  }
  h2{
    font-size: 16px;
    margin-bottom: 24px;
  }
}


/* header */
.navbar{
  .navbar-nav{
    .nav-item{
      align-items: center;
      display: flex;
    }
    .current-user-icon{
      .thumb{
        width: 40px;
      }
    }
    .dropdown-menu{
      left: inherit;
      right: 0;
      h2{
        padding: 0.25rem 1.5rem 0.8rem;
        font-size: 16px;
        border-bottom: 1px solid #eee;
      }
    }
  }
}

.mark_archive_list{
  li{
    list-style: none;
    position: relative;
    .thumb_area{
      border-radius: 4px;
      overflow: hidden;
      position: relative;
      display: block;
      box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, .1);
      .thumb{
        width: 100%;
      }
      .link_btn_area{
        display: none;
        background: rgba(0, 0, 0, .4);
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        text-align: center;
        padding: 29% 0;
        .external, .link, .window{
          color: #fff;
          font-size: 24px;
          background: rgba(0, 0, 0, .4);
          width: 42px;
          height: 42px;
          border-radius: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          &:hover{
            text-decoration: none;
            background: rgba(0, 0, 0, .6);
          }
        }
      }
    }/* .thumb_area */
    .favicon{
      background: #fff;
      padding: 8px;
      border-radius: 100%;
      position: absolute;
      left: 2px;
      bottom: 2px;
      box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .1);
    }
    .title{
      font-size: 14px;
    }
    .url{
      line-height: 1;
      a{
        font-size: 12px;
        word-break: break-all;
      }
    }
    .setting{
      position: absolute;
      top: -2px;
      right: -2px;
    }
    @include media-breakpoint-down(sm){
      width: calc(100% / 2 - 10px);
      // margin: 0 15px;
    }
  }/* li */
}


/* category */
.category_list{
  li{
    position: relative;
    .setting{
      position: absolute;
      right: 34px;
      top: -4px;
    }
    .close_btn{
      position: absolute;
      right: -4px;
      top: -4px;
    }
  }
}

/* footer */
footer{
  #page-top{
    font-size: 36px;
    position: fixed;
    display: block;
    bottom: 40px;
    right: 40px;
    width: 50px;
    height: 50px;
    text-align: center;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.14);
    border-radius: 100%;
    box-sizing: border-box;
    z-index: 10;
    line-height: 1;
    @include media-breakpoint-down(sm){
      right: 16px;
      bottom: 16px;
    }
  }
  #footer-menu{
    nav{
      ul{
        li{
          font-size: 12px;
        }
      }
    }
  }
  #copy-right{
    font-size: 10px;
  }
}


/* button */
.circle_btn{
  color: #999;
  border: 0;
  transition: .3s;
  padding: 0;
  background: #fff;
  width: 32px;
  height: 32px;
  text-align: center;
  border-radius: 100%;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .1);
  font-size: 16px;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover{
    text-decoration: none;
    color: #000;
  }
}

.add_star{
  color: #dfdfdf;
}

.remove_star{
  color: #f6a12e;
  &:hover{
    color: #f6a12e;
  }
}

.star_btn{
  position: absolute;
  left: 40px;
  top: 140px;
  font-size: 16px;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover{
    text-decoration: none;
  }
  @include media-breakpoint-down(sm){
    top: 48%;
  }
}


.add_mark_btn{
  width: 100%;
  background: #fafafa;
  border-radius: 4px;
  padding: 22% 0;
  border: 0;
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, .1);
  color: #dfdfdf;
  text-align: center;
  cursor: pointer;
}