<h1><%= @category.name %></h1>

<div class="d-flex flex-row-reverse justify-content-between">
  
  <aside>
    <% if @categories.any? %>
    
      <nav class="list-group">
  			<div class="list-group-item list-group-item-action bg-primary text-white">
  		    カテゴリー
  		  </div>
  		  <% @categories.each do |category| %>
  		    <%= link_to category.name, '/marks/' + category.slug, class: 'list-group-item list-group-item-action text-dark' %>
  		  <% end %>
  		</nav>

    <% else %>
      <p>まだカテゴリーはありません。</p>
    <% end %>
  </aside>
  
  <div class="main_col">
    <%= render 'marks/marks', marks: @marks %>
  </div>
  
</div>
