<% content_for(:title, @category.name) %>
<% content_for(:body_class, 'category') %>
<% content_for(:body_id, 'show') %>

<h1><%= @category.name %></h1>

<div class="d-block d-md-flex flex-row-reverse justify-content-between">
  
  <aside>
    <%= render 'categories', categories: @categories %>
  </aside>
  
  <div class="main_col">
    <%= render 'marks/marks', marks: @marks %>
  </div>
  
</div>
