<h1><%= @category.name %></h1>

<div class="d-flex flex-row-reverse justify-content-between">
  
  <aside>
    <% if @categories.any? %>
      <ul>
        <% @categories.each do |category| %>
          <li><%= link_to category.name, '/marks/' + category.slug %></li>
        <% end %>
      </ul>
    <% else %>
      <p>まだカテゴリーはありません。</p>
    <% end %>
  </aside>
  
  <div class="main_col">
    <%= render 'marks/marks', marks: @marks %>
  </div>
  
</div>
