<p>ようこそ<%= @email %>さん!</p>

<% if confirmation_mail_text = Setting.find_by(slug: 'confirmation_mail_text') %>
  <p><%= simple_format(h(confirmation_mail_text.content)) if confirmation_mail_text %></p>
<% else %>
  <p>下のリンクからユーザー登録を完了してください。</p>
<% end %>

<p><%= link_to 'ユーザー登録を完了する', confirmation_url(@resource, confirmation_token: @token) %></p>
