<%= link_to(content_tag(:i, '', class: 'fa fa-angle-up text-white mt-1'), '#', id: 'page-top', class: 'bg-secondary') %>

<div id="footer-menu" class="d-none d-md-block">
  <nav class="container navbar p-1 p-md-2" id="footerNab">
    <ul class="nav navbar-nav navbar-right flex-row d-none d-md-flex">
    	<li class="nav-item mr-4">
        <%= link_to(content_tag(:i, '', class: 'fa fa-angle-right mr-2') + 'プライバシーポリシー', root_path, class: 'nav-link text-muted') %>
      </li>
    </ul>
  </nav>
</div>

<div id="copy-right" class="text-center bg_theme_color text-muted p-3">
  Copyright ©FAV SITES All Rights Reserved.
</div>