<%= link_to(content_tag(:i, '', class: 'fa fa-angle-up text-white mt-1'), '#', id: 'page-top', class: 'bg-secondary') %>

<div id="footer-menu">
  <nav class="container navbar p-1 p-md-2" id="footerNab">
    <ul class="nav navbar-nav navbar-right flex-row d-flex">
    	<li class="nav-item">
        <% if footer_link = Setting.find_by(slug: 'footer_link') %>
          <%= footer_link.content.present? ? footer_link.content.html_safe : '' %>
        <% end %>
      </li>
    </ul>
  </nav>
</div>

<div id="copy-right" class="text-center bg_theme_color text-muted p-3">
  Copyright ©<%= ENV['SITE_TITLE'] %> All Rights Reserved.
</div>